[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/workspace/"]
    path = ~/.gitconfig.other

[color "status"]
	added = green bold
	changed = yellow
	untracked = red
