[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig.personal

[includeIf "gitdir:~/workspace/"]
    ; path = ~/.gitconfig.other
    path = ~/.gitconfig.workspace

[color "status"]
	added = green bold
	changed = yellow
	untracked = red
[credential "https://github.vodafone.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
